/* Global */
:root {
    --border-color : #D9D9D9;
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --main-text-color: #000000;
    --filter-bg-color: #DEEBFF;
    --submit-color: #FFFFFF;
}

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

body {
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    margin: auto;
    box-sizing: border-box;
}

body > main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 35px 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.375em;
}

img {
    display: block;
    width: 100%;
}

.card {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: filter .2s ease-in;
}

.card:hover {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.6));
    transition: filter .2s ease-in;
}

.card > img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color);
}

.section-more {
    font-size: 18px;
    margin-top: 33px;
}

.section-more:hover {
    color: var(--main-color);
}

.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
}

.subtitle {
    font-size: 1.125em;
    font-weight: 700;
}

.title {
    font-size: 1.375em;
}


/* Header */
.page-header {
    display: flex;
    justify-content: space-between;
}

.page-header-logo {
    padding: 30px 0;
}

.page-header-logo > img {
    width: 61px;
}

.page-header-menu > ul {
    display: flex;
    gap: 68px;
}

.page-header-menu a {
    display: flex;
    align-items: flex-end;
    height: 35px;
    box-sizing: border-box;
}

.page-header-menu a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}


/* Search section */
.section-search {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section-search > ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section-search-header > p {
    margin-top: 0.5em;
}

.section-search-form {
    display: flex;
}

.section-search-form > .fa-location-dot {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 0 17.5px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.section-search-form > input[type=search] {
    background-color: var(--submit-color);
    padding: 0 23px;
    border: 1px solid var(--main-bg-color);
    border-left: 0;
    border-right: 0;
}

.section-search-form .fa-magnifying-glass {
    color: var(--submit-color);
}

.search-submit {
    background-color: var(--main-color);
    color: var(--submit-color);
    padding: 14px 16px;
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.search-submit.icon {
    display: none;
}

.search-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.0625em;
    font-weight: 700;
    padding: 13px 19px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    cursor: pointer;
}

.search-filter:hover {
    background-color: var(--filter-bg-color);
}

.section-search-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-search-footer > .fa-info {
    padding: 10.5px 8.75px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements,
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    gap: 30px;
}

.hebergements-cards a {
    flex: 1;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards img {
    height: 114px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    gap: 15px;
    margin-top: 33px;
}

.populaires-cards img {
    flex: 1;
    height: 136px;
    border-radius: 20px 0 0 20px;
}

.populaires-cards .card-content {
    flex: 1.9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Activities section */
.section-activities {
    padding: 30px;
}

.section-activities-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 34px;
}

.card.lg {
    padding: 0;
}

.card.lg > img {
    height: 380px;
}

.card.lg > .card-title {
    padding: 20px 19px;
}


/* Footer */
.page-footer {
    display: flex;
    background-color: var(--main-bg-color);
}

.page-footer > ul {
    flex: 1;
    padding: 20px;
}

.page-footer li:not(:first-child) {
    margin-top: 15px;
}

.page-footer a:hover {
    color: var(--main-color);
}


/* Tablet version */
@media (max-width: 1024px) {
    /****** General ***********/
    .card-title {
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 13px;
    }


    /* Search section */
    .section-search > ul {
        flex-wrap: wrap;
    }

    .section-search > ul > li:first-child {
        width: 100%;
        margin-bottom: 5px;
    }


    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .populaires-cards a {
        flex: 1;
    }


    /* Activities section */
    .card.lg > img {
        height: 200px;
    }

    .card.lg > .card-title {
        display: flex;
        align-items: center;
        height: 70px;
        box-sizing: border-box;
    }
}


/* Mobile version */
@media (max-width: 768px) {

    /* Global */
    body {
        padding: 0;
    }

    body > main {
        gap: 30px;
        margin: 30px 0;
    }

    .section-more {
        margin-top: 15px;
    }


    /* Header */
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    .page-header-menu {
        width: 100%;
    }

    .page-header-menu > ul {
        gap: 0;
    }

    .page-header-menu li {
        width: 100%;
    }

    .page-header-menu a {
        justify-content: center;
        align-items: flex-start;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .page-header-menu a:hover {
        border-top: 0;
        border-bottom: 2px solid var(--main-color);
    }


    /* Search section */
    .section-search {
        padding: 0 20px;
    }

    .section-search > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .section-search > ul > li:first-child {
        grid-column: span 2;
    }

    .section-search-form {
        border-radius: 15px;
        box-shadow: 0 0 0 1px var(--main-bg-color) inset;
    }

    .section-search-form > input[type=search] {
        flex: 1;
    }

    .search-submit {
        display: none;
    }

    .search-submit.icon {
        display: block;
        padding: 16px;
        border-radius: 15px;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }

    .search-filter {
        font-size: 0.875em;
        padding: 15px 19px;
    }


    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        gap: 20px;
    }

    .hebergements,
    .populaires {
        border-radius: 0;
    }

    /****** Hebergements ***********/
    .hebergements {
        order: 2;
        background-color: white;
        padding: 20px;
    }

    .hebergements-cards {
        flex-direction: column;
        gap: 0;
    }

    .hebergements-cards .card {
        margin-top: 15px;
    }

    /****** Populaires ***********/
    .populaires {
        order: 1;
        padding: 30px 20px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 0;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }


    /* Activities section */
    .section-activities-list {
        grid-template-columns: auto;
        gap: 15px;
    }

    .card.lg > img {
        height: 141px;
    }

    .card.lg > .card-title {
        display: block;
        height: auto;
    }


    /* Footer */
    .page-footer {
        flex-direction: column;
    }

    .page-footer > ul {
        padding: 30px;
    }
}