/* Global */
:root {
    --border-color : #D9D9D9;
    --card-bg-color: #FFFFFF;
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --main-txt-color: #000000;
    --filter-bg-color: #DEEBFF;
}

* {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

body {
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    margin: auto;
    box-sizing: border-box;
}

body > main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 35px 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2 {
    font-size: 1.375em;
}

img {
    display: block;
    width: 100%;
}

.fa-solid {
    color: var(--main-color);
}

.title {
    font-size: 1.125em;
    font-weight: 700;
}


/* Header */
.page-header {
    display: flex;
    justify-content: space-between;
}

.page-header-logo {
    padding: 30px 0;
}

.page-header-logo > img {
    width: 61px;
}

.page-header-menu > ul {
    display: flex;
    gap: 68px;
}

.page-header-menu a {
    display: flex;
    align-items: flex-end;
    height: 35px;
    box-sizing: border-box;
}

.page-header-menu a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}


/* Search section */
.section-search {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.section-search-header > p {
    margin-top: 0.5em;
}

.section-search-form {
    display: flex;
}

.section-search-form > .fa-location-dot {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: 0 17.5px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.section-search-form > input[type=search] {
    background-color: var(--card-bg-color);
    padding: 0 23px;
    border: 1px solid var(--main-bg-color);
    border-left: 0;
    border-right: 0;
}

.section-search-form .fa-magnifying-glass {
    color: var(--card-bg-color);
}

.search-submit {
    background-color: var(--main-color);
    color: var(--card-bg-color);
    padding: 14px 16px;
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.search-submit.icon {
    display: none;
}

.section-search-filters {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section-search-filters > ul {
    display: flex;
    gap: 15px;
}

.search-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.0625em;
    font-weight: 700;
    padding: 13px 19px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    cursor: pointer;
}

.search-filter:hover {
    background-color: var(--filter-bg-color);
}

.section-search-footer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-search-footer > .fa-info {
    padding: 10.5px 8.75px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}


/* Accommodations wrapper */
.accommodations-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


/* Accommodations section */
.section-accommodations {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 2.2;
}

.section-accommodations,
.section-popular {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.section-accommodations > .title:hover {
    color: var(--main-color);
}

.section-accommodations-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


/* Card */
.card {
    background-color: var(--card-bg-color);
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
    transition: filter 0.3s ease-out;
}

.card:hover {
    filter: drop-shadow(0 3px 15px rgba(0, 0, 0, 0.3));
}

.card > img {
    height: 114px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px;
    margin: 9px 0 10px 0;
}

.card-title {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.card-price {
    font-size: 0.875em;
}

.card-euro {
    font-weight: 600;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 0.6px;
    height: 14px;
}

.star-inactive {
    color: var(--main-bg-color);
}

.card.row {
    display: flex;
}

.card.row > img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0 0 20px;
}

.card.row > .card-content {
    justify-content: space-between;
    width: 67%;
    padding-right: 0;
    margin: 10px 0 5px 0;
    box-sizing: border-box;
}

.card.row > .card-rating {
    gap: 0.4px;
    height: 12px;
}

.card.lg {
    padding: 0;
}

.card.lg > img {
    height: 380px;
}

.card.lg > .card-title {
    padding: 20px 19px;
    margin-bottom: 0;
}


/* Popular section */
.section-popular {
    flex: 1;
}

.section-popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-popular-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}


/* Activities section */
.section-activities {
    padding: 30px;
}

.section-activities-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 34px;
}


/* Footer */
.page-footer {
    display: flex;
    background-color: var(--main-bg-color);
}

.page-footer > section {
    flex: 1;
    padding: 20px;
}

.page-footer li {
    margin-top: 15px;
}

.page-footer a:hover {
    color: var(--main-color);
}


/* Tablet version */
@media (max-width: 1024px) {

    /* Search section */
    .section-search-filters {
        flex-direction: column;
        align-items: inherit;
        gap: 20px;
    }


    /* Accommodations wrapper */
    .accommodations-wrapper {
        flex-direction: column;
        gap: 50px;
    }


    /* Accommodations section */
    .section-accommodations {
        flex: 1;
    }


    /* Popular section */
    .section-popular-list {
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
    }

    .section-popular-list > li {
        flex: 1;
    }


    /* Activities section */
    .card.lg > img {
        height: 200px;
    }

    .card.lg > .card-title {
        display: flex;
        align-items: center;
        height: 70px;
        box-sizing: border-box;
    }
}


/* Mobile version */
@media (max-width: 768px) {

    /* Global */
    body {
        padding: 0;
    }

    body > main {
        gap: 30px;
        margin: 30px 0;
    }


    /* Header */
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    .page-header-menu {
        width: 100%;
    }

    .page-header-menu > ul {
        gap: 0;
    }

    .page-header-menu li {
        width: 100%;
    }

    .page-header-menu a {
        justify-content: center;
        align-items: flex-start;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .page-header-menu a:hover {
        border-top: 0;
        border-bottom: 2px solid var(--main-color);
    }


    /* Search section */
    .section-search {
        padding: 0 20px;
    }

    .section-search-form {
        border-radius: 15px;
        box-shadow: 0 0 0 1px var(--main-bg-color) inset;
    }

    .section-search-form > input[type=search] {
        flex: 1;
    }

    .search-submit {
        display: none;
    }

    .search-submit.icon {
        display: block;
        padding: 16px;
        border-radius: 15px;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }

    .section-search-filters > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .search-filter {
        font-size: 0.875em;
        padding: 15px 19px;
    }


    /* Accommodations wrapper */
    .accommodations-wrapper {
        gap: 20px;
    }


    /* Accommodations section */
    .section-accommodations {
        gap: 15px;
        order: 2;
        background-color: transparent;
        padding: 20px;
    }

    .section-accommodations,
    .populaires {
        border-radius: 0;
    }

    .section-accommodations-list {
        grid-template-columns: auto;
        gap: 15px;
    }


    /* Popular section */
    .section-popular {
        order: 1;
        padding: 30px 20px;
    }

    .section-popular-list {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }


    /* Activities section */
    .section-activities-list {
        grid-template-columns: auto;
        gap: 15px;
    }

    .card.lg > img {
        height: 141px;
    }

    .card.lg > .card-title {
        display: block;
        height: auto;
    }


    /* Footer */
    .page-footer {
        flex-direction: column;
    }

    .page-footer > section {
        padding: 30px;
    }
}